.author-bio-section {
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    background: #fff;
}

.author-bio-section h1 {
    color: #fff;
    font-size: 2em;
    font-family: sans-serif;
    background: #0073aa;
    padding-left: 20px;
}

.author-bio-section h3 {
    font-family: sans-serif;
    font-size: 1.5em;
    color: #0073aa;
}

.author-bio-section h4 {
    font-family: sans-serif;
    color: #0073aa;
}

.author-info p {
    color: #797878;
    font-size: 14px;
    font-family: sans-serif;
    padding-bottom: 30px;
}

.author-image {
    float: left;
    margin-right: 40px;
    margin-top: 10px;
    width: 20%;
    text-align: center;
}

.author-image img {
    border: 2px solid #f0f0f1;
    border-radius: 20px;
}

.auth-img{
    border: 2px solid #f0f0f1;
    border-radius: 20px;
    width:120px !important;
}

.soc-links {
    margin: 0 auto;
    width: max-content;
}

.soc-links img {
    float: left;
    width: 50px;
    border: none;
}

.author-info {
    float: left;
    width: 70%;
}

.clearfix {
    clear: both;
}

.author-gallery img {
    max-width: 170px !important;
    margin: 4px;
}

.linked-user {
    color: #797878;
    font-size: 14px;
    font-family: sans-serif;
    padding: 20px;
}

.linked-user img {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

.post-item {
    border-bottom: 1px solid #ccc;
    overflow: hidden;
}

.post-dates {
    font-size: 12px;
}


.authors-block{
    margin-right: calc(3 * 1rem);
    width: calc(50% - (3 * 1rem));
}

.authors-block img{
    width:100px !important;
    float: left;
    margin-right: 10px;
}

.authors-block p{
    font-size: 14px;
    font-family: sans-serif;
    color: #635f5f;
}


@media screen and (max-width: 800px) {
    .author-image, .author-info {
        width: 100%;
    }

    .author-bio-section h1 {
        font-size: 1.2em;
    }

    .author-bio-section h3 {
        font-size: 1em;
    }

}